*{
    margin:0px;
    padding:0px;
    
}
body{

    overflow-x: hidden;
}
@media (max-width: 768px){
    /* Top Banner */
    #main-header{
        width:100%;
        box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
    }
    #main-header p{
        width:100%;
    }
    /* Nav*/
    .nav-link-wrapper a{
        font-size: 20px;
    }
    
    .slider{
        min-height:160px;
        width: 100%;
    }
    .img-con{
        padding-bottom: 100px;
    }
    .img-side {
     display: none;
    }
    .container-bottom{
        height:700px;
    }
   #main p{
      width:50%;
      
  }

}
@media (max-width: 1024px){
    #main-header{
        width:100%;
    }

    #main-header p{
        width:100%;
    }

    .container-bottom{
        width: 100%;
        height:600px;
        background-position: center;
    }
   
    .img-side{
        width: 700px;
        height:400px;
    }
    .foot-con{
        max-height:100px;
    }

}
.body-text-con{
    background-color: rgb(255, 235, 235, .75);
    z-index: -1;
}
#main-header{
    margin:0px;
    background-color: #FFE5E5;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-style: italic;
    overflow: hidden;
    height:100px;
    width:100%;
    box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
}
  #main-header p{
      padding-top:0px;
      padding-bottom: 20px;
      padding-left: 20px;
  }
  .nav-wrapper{
    display:flex;
    font-size:20px;
    overflow:hidden;
    box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
}
.left-side{
    padding-top:20px;
    padding-left:40px;
    padding-bottom:20px;
    display:flex;

}
.nav-wrapper >.left-side > div{
  margin-right: 25px;
  text-transform:uppercase;

}
.right-side{
    border-bottom: 1px solid black;
}

.nav-link-wrapper{
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
    color:#000;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid #FFCBCB;
}
.nav-link-wrapper a:hover{
color:#FFCBCB;
}
.underline{
    border-bottom:2.5px solid black;

}
#title-h1 h1{
    min-height:50px;
    margin: 20px;
    font-size: 70px;
    padding:10px;
    font-family: 'Cookie', cursive;
}

.text-cont{
    width:100%;
    border-radius: 20px;
    min-height:300px;
    display:grid;
    background-color: #e3c3c3;


}
.border{
    width:100%;
    border-radius:20px;
    border:2px solid black;
    min-height:300px;
    padding:15px;
    
}
.bottom-container{
    min-height:300px;
    margin:auto;
    margin-bottom: 30px;
    width:65%;
   
}

.text-cont p{
    font-size: 26px;
    width:100%;

}

#title2-h1 h1{
    min-height:50px;
    margin: 20px;
    font-size: 70px;
    padding:10px;
    font-family: 'Cookie', cursive;
}
.text-cont2{
    width:100%;
    border-radius: 20px;
    min-height:300px;
    background-color:#ffd6d6;
   
}
.text-cont2 p{
    font-size: 26px;

}
#title3-h1 h1{
    min-height:50px;
    margin: 20px;
    font-size: 70px;
    padding:10px;
    font-family: 'Cookie', cursive;
}

.text-cont3{
    width:100%;
    border-radius: 20px;
    min-height:300px;
    border-radius: 20px;
    background-color:  #f2d3d3;

}
.text-cont3 p{
    font-size: 26px;

}
#title4-h1 h1{
    min-height:50px;
    margin: 20px;
    font-size: 70px;
    padding:10px;
    font-family: 'Cookie', cursive;
}

.text-cont4{
    width:100%;
    border-radius: 20px;
    min-height:300px;
    border-radius: 20px;
    background-color: #bdbdbd;

}
.text-cont4 p{
    font-size: 26px;

}
.photo-con{
    background-size: 100%;
    width:100%;
    padding-top:30%;
    background-image: url('images/better.JPG');
    background-position: center;
    background-repeat: no-repeat;
    
}
  
.header .menu-btn{
    display:none;
}
.header li{
    display:none;
}
.foot-con{
    float: left;
    min-height:300px;
    min-width:100%;
    
}
#main-footer{
    background-color: gray;
    min-height:300px;
}
.footer-words{
    margin:20px;
    font-size:20px;
}
.footer-words li{
    list-style-type: none;
    font-size:20px;
}
@media (max-width:541px){
    .header li{
        display: inline;
    }
    .container{
    display: none;
    }
    a{
        color:#000;
        text-decoration: none;
    }
    .header ul{
        list-style:none;
        overflow:hidden;
    }
    .header ul a{
        display:block;
        outline:1px solid gray;
        padding:20px;
    }
    .header ul a:hover{
        background-color:#ddd;
    }
    .header .menu{
        max-height:0;
        transition:max-height .2s ease-out;
    }
    .header .menu-icon{
        padding:20px 16px;
        position:relative;
        float:right;
        cursor: pointer;
    }
    .menu{
        clear:both;
    }
    .header .menu-icon .nav-icon{
        background: #333;
        display:block;
        height:2.5px;
        width:25px;
        position:relative;
        transition:background .2s ease-out;
    }
    .header .menu-icon .nav-icon:before{
        background:#333;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition:all .2 ease-out;
        top:6px;
    }
    .header .menu-icon .nav-icon:after{
        background:#333;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition:all .2 ease-out;
        top:-6px;
    }
    .header .menu-btn{
        display:none;
    }
    .header .menu-btn:checked ~ .menu{
        max-height:330px;
    }
    #title-h1 h1{
        font-size:55px;
    }
    .text-cont p{
        font-size: 22px;
    }
    #title2-h1 h1{
        font-size:55px;
    }
    .text-cont2 p{
        font-size: 22px;
    }
    #title3-h1 h1{
        font-size:55px;
    }
    .text-cont3 p{
        font-size: 22px;
    }
    #title4-h1 h1{
        font-size:55px;
    }
    .text-cont4 p{
        font-size: 22px;
    }
    .photo-con{
        height:150px;
    }
    }
    @media (max-width:360px){
        #title-h1 h1{
            font-size:45px;
        }
        .text-cont p{
            font-size:20px;
        } 
        #title2-h1 h1{
            font-size:45px;
        }
        .text-cont2 p{
            font-size:20px;
        } #title3-h1 h1{
            font-size:45px;
        }
        .text-cont3 p{
            font-size:20px;
        } #title4-h1 h1{
            font-size:45px;
        }
        .text-cont4 p{
            font-size:20px;
        } 
    }
    @media (max-width:320px){
        #title-h1 h1{
            font-size:43px;
        }
        .text-cont p{
            font-size:18px;
        }
        #title2-h1 h1{
            font-size:43px;
        }
        .text-cont2 p{
            font-size:18px;
        }#title3-h1 h1{
            font-size:43px;
        }
        .text-cont3 p{
            font-size:18px;
        }#title4-h1 h1{
            font-size:43px;
        }
        .text-cont4 p{
            font-size:18px;
        }
        .photo-con{
            height:70px;
        }
        .footer-words{
            font-size:10px;
        }
        .footer-words li{
            font-size:10px;
        }
        #main-header p{
            padding-left:10px;
        }
    }
    
@media(max-width:203px){
    .bottom-container{
        margin-left: 0px;

    }
    #title-h1 h1{
        font-size:24px;
    }
    #title4-h1 h1{
        font-size:24px;
    }
    .underline{
        font-size:24px;
    }
    .footer-words{
        font-size:7px;
    }
    .footer-words li{
        font-size:7px;
    }
    #main-header p{
        font-size:50px;
    }

}


    